* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
}

canvas {
    display: block;
}

h1 {
    border: 5px solid black;
    font-family: 'Montserrat';
    font-size: 7em;
    left: 2em;
    line-height: .8em;
    padding: .2em;
    position: absolute;
    text-transform: uppercase;
    top: 2em;
    width: auto;
  }